# clang-format configuration for Arduino/ESP8266 C++ code
# Based on Google style with Arduino-specific adjustments

# Base style
BasedOnStyle: Google

# Indentation
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 4

# Line length
ColumnLimit: 100

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

# Spacing
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeAssignmentOperators: true

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

# Pointer and reference alignment
DerivePointerAlignment: false
PointerAlignment: Left

# Include order
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<Arduino\.h>'
    Priority:        1
  - Regex:           '^<ESP8266.*\.h>'
    Priority:        2
  - Regex:           '^<Wire\.h>|^<U8g2lib\.h>'
    Priority:        3
  - Regex:           '^<.*\.h>'
    Priority:        4
  - Regex:           '^".*"'
    Priority:        5

# Namespace
CompactNamespaces: false
FixNamespaceComments: true

# Comments
ReflowComments: true
SpacesBeforeTrailingComments: 2

# Other
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
